{
    "extends": "airbnb",
    "overrides": [
        {
            "files": [
                "src/**/*.js"
            ],
            "rules": {
                "indent": ["error", 4]
            }
        }
    ]
}