{
    "extends": "airbnb",
    "overrides": [
        {
            "files": [
                "src/**/*.js"
            ],
            "rules": {
                "indent": ["error", 4],
                "react/jsx-indent": ["error", 4],
                "react/jsx-indent-props": ["error", 4],
                "react/jsx-filename-extension": ["error", {"extensions": [".jsx", ".js"]}],
                // I would like us to consider this in the future, but for now it is too sweeping of a change to be feasible
                // It also may make code less readable in a lot of places where we use both props and state in the same functions
                // (although this may be symptomatic of a bigger issue with naming things)
                "max-len": 0,
                "react/destructuring-assignment": ["error", "never"],
                "no-plusplus": ["off"],
                "react/jsx-curly-newline": ["error", {
                    "singleline": "forbid",
                    "multiline": "require"
                }],
                "operator-linebreak": ["error", "after", {
                    "overrides": {
                        "?": "before",
                        ":": "before"
                    }
                }],
                "object-curly-newline": ["error", {
                    "multiline": true,
                    "consistent": true 
                }]
            }
        }
    ]
}