{
    "extends": [
        "airbnb",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "import"],
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts", ".tsx"]
        },
        "import/resolver": {
            "typescript": {
                "alwaysTryTypes": true
            }
        }
    },
    "overrides": [
        {
            "files": [
                "src/**/*.js",
                "src/**/*.ts",
                "src/**/*.tsx"
            ],
            "rules": {
                "indent": ["error", 4, {
                    "SwitchCase": 1
                }],
                "react/jsx-indent": ["error", 4],
                "react/jsx-indent-props": ["error", 4],
                "react/jsx-filename-extension": ["error", {"extensions": [".jsx", ".js"]}],
                // I would like us to consider this in the future, but for now it is too sweeping of a change to be feasible
                // It also may make code less readable in a lot of places where we use both props and state in the same functions
                // (although this may be symptomatic of a bigger issue with naming things)
                "max-len": 0,
                "react/destructuring-assignment": ["off", "never"],
                "no-plusplus": ["off"],
                "react/jsx-curly-newline": ["error", {
                    "singleline": "forbid",
                    "multiline": "require"
                }],
                "operator-linebreak": ["error", "after", {
                    "overrides": {
                        "?": "before",
                        ":": "before"
                    }
                }],
                "object-curly-newline": ["error", {
                    "multiline": true,
                    "consistent": true 
                }],
                "no-param-reassign": ["error", {
                    "props": false
                }],
                "react/prefer-stateless-function": ["off"],
                "no-mixed-operators": ["off"],
                "linebreak-style": ["off"],
                "no-bitwise": ["off"],
                "react/no-unused-class-component-methods": ["off"],
                "import/extensions": ["error", "always", {
                    "js": "never",
                    "ts": "never",
                    "tsx": "never"
                }]
            }
        }
    ],
    "env": {
        "browser": true,
        "jest": true
    }
}