#gear > img {
    position: absolute;
    width: auto;
    height: auto;
    left: 0%;
    top: 5%;
}

#Beetle-item {
    left: 54%;
    width: auto;
    top: 54%;
    height: 80px;
    position: absolute;
}

#Slingshot-item {
    left: 44%;
    width: auto;
    top: 74%;
    height: 80px;
    position: absolute;
}

#Bombs-item {
    left: 51%;
    width: auto;
    top: 40%;
    height: 80px;
    position: absolute;
}

#GustBellows-item {
    left: 35%;
    width: auto;
    top: 40%;
    height: 80px;
    position: absolute;
}

#Whip-item {
    left: 31%;
    width: auto;
    top: 54%;
    height: 80px;
    position: absolute;
}

#Bow-item {
    left: 43%;
    width: auto;
    top: 34%;
    height: 80px;
    position: absolute;
}

#Clawshots-item {
    left: 34%;
    width: auto;
    top: 68%;
    height: 80px;
    position: absolute;
}

#Beetle-item > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#Slingshot-item > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#Bombs-item > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#GustBellows-item > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#Whip-item > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#Clawshots-item > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#Bow-item > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#BugNet-item > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}